@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f1dcc9;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
.header {
  position: fixed;
  width: 100%;
  background: #f1dcc9;
  border-bottom: 2px solid #9f4636;
  z-index: 10;
}
.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.search-input {
  width: 50%;
  border: 3px solid #6c2d2c;
  border-right: none;
  padding: 10px;
  height: inherit;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search-input:focus {
  color: #6c2d2c;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: inherit;
  border: 1px solid #6c2d2c;
  background: #6c2d2c;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.search-wrap {
  width: 30vw;
  padding-top: 15px;
  padding-bottom: 15px;
}
